# Example of an Nginx configuration for Simple NuGet Server

server {
	server_name psavelis.io;
	root /var/www/simple-nuget-server/public/;

	rewrite ^/nuget/$ /index.php;
	rewrite ^/nuget/\$metadata$ /metadata.xml;
	rewrite ^/nuget/Search\(\)/\$count$ /count.php;
	rewrite ^/nuget/Search\(\)$ /search.php;
	rewrite ^/nuget/Packages\(\)$ /search.php;
	rewrite ^/nuget/Packages\(Id='([^']+)',Version='([^']+)'\)$ /findByID.php?id=$1&version=$2;
	rewrite ^/nuget/GetUpdates\(\)$ /updates.php;
	rewrite ^/nuget/FindPackagesById\(\)$ /findByID.php;
	# NuGet.exe sometimes uses two slashes (//download/blah)
	rewrite ^/nuget/?download/([^/]+)/([^/]+)$ /download.php?id=$1&version=$2;
	rewrite ^/nuget/([^/]+)/([^/]+)$ /delete.php?id=$1&version=$2;

	# NuGet.exe adds /api/v2/ to URL when the server is at the root
	rewrite ^nuget/api/v2/package/$ /index.php;
	rewrite ^nuget/api/v2/package/([^/]+)/([^/]+)$ /delete.php?id=$1&version=$2;

	location ~ \.php$ {
		include fastcgi_params;
		fastcgi_pass php;
	}

	location = /index.php {
		dav_methods PUT DELETE;
		include fastcgi_params;
		fastcgi_pass php;

		# PHP doesn't parse request body for PUT requests, so fake a POST.
		fastcgi_param REQUEST_METHOD POST;
		fastcgi_param HTTP_X_METHOD_OVERRIDE $request_method;
	}

	# Used with X-Accel-Redirect
	location /packagefiles {
		internal;
		root /var/www/simple-nuget-server/;
	}
}
